@import "colores" ;
@import "extends";

.contenido-main {
    padding-top: 50px;
    text-align: center;
}
.contenido-main-suscribite {
    padding-top: 150px;
    text-align: center;    
    padding-bottom: 2rem;
}
.boton-entrar {
    background-color: $color3;
    border-radius: 20px;
    &:hover {
        filter: saturate(150%);
        background-color: $color3;
    }
}
.h1-index {
    font-weight: bolder;
    font-size: 4rem;
    color: whitesmoke;
}
.contenido-main-plan {
    padding-top: 15px;
    padding-bottom: 9px;
    text-align: center;
    color: whitesmoke;
}
.separador {
    padding-bottom: 6rem;
}
.card {
    background: #DDDEE4;
    color: $color2;
}
.h4-main {
    color: goldenrod;
}
.section-white {
    background-color: whitesmoke;
    margin: auto;
    background: url(../media/sketch-monochrome-clothes-icons-set/1238047.jpg);
    background-size: cover; /* Resize the background image to cover the entire container */
}
.inversa {
    display: flex;
    @media (max-width: 768px) {
    flex-direction: column-reverse;
}
}
.imagen-icono {
    height: 90px;
    width: 90px;
}
.icono-item {
    background-color: grey;
    border-radius: 3rem;
    margin: 1rem auto;
    max-width: 400px;
    min-width: 300px;
    color: white;
    font-weight: bolder;
}
.tarjetas {
    margin: 1rem auto;
}
.por-que {
    font-weight: bolder;
    color: goldenrod; 
}
.iconos-fondo {
    background-color: white;
}
.texto-info {
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px $color3;
    @media  (max-width: 590px) {
    font-size: 1.5rem;
    }
}