// maps//

$tarjetas: (
    // key + value//
    youtube: red,
    facebook: blue,
    instagram: brown,
    
    boton-margin: 50px,
    boton-radius:30px,

    separador: 5rem,

    family: trebuchet,
    
    bg-premium: gold,
    bg-standar: white,
);