footer {
  background-color: #DDDEE4;
}

footer .logo-footer {
  height: 3rem;
  border-radius: 1.5rem;
}

footer .mapa-lugar {
  font-size: 1rem;
  text-align: center;
  color: #607196;
  padding-top: 1rem;
}

footer .disclaimer {
  font-size: 1rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 6rem;
}

footer .logo-copyright {
  font-size: 1rem;
  color: #607196;
  text-align: center;
  font-weight: 300;
  padding-top: 3rem;
}

footer #mapaLugar {
  width: 8rem;
  height: 5rem;
}

footer .disclaimer ul li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}

.header {
  background-color: #DDDEE4;
}

.header .logo {
  height: 50px;
  border-radius: 2.25rem;
}

.header .logo:hover {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #DDDEE4;
  -webkit-box-shadow: 0px 0px 5px 5px grey;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: opacity(2);
          filter: opacity(2);
}

.nosotros {
  margin: auto;
  padding: auto;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
  background-color: #607196;
}

.html {
  font-family: "open Sans", sans-serif;
  font-size: 1rem;
}

.contenido-main {
  padding-top: 50px;
  text-align: center;
}

.contenido-main-suscribite {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 2rem;
}

main {
  background-color: #607196;
}

.boton-entrar {
  background-color: #FF7B9C;
  border-radius: 20px;
}

.boton-entrar:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
  background-color: #FF7B9C;
}

.h1-index {
  font-weight: bolder;
  font-size: 4rem;
  color: whitesmoke;
}

.contenido-main-plan {
  padding-top: 15px;
  padding-bottom: 9px;
  text-align: center;
  color: whitesmoke;
}

.separador {
  padding-bottom: 6rem;
}

.foto {
  width: 28rem;
}

.centrar {
  margin-left: 50px;
}

.card {
  background: #DDDEE4;
  color: #607196;
}

.main-precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #607196;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

ul, ol {
  list-style: none;
}

.plan-precios {
  border-bottom: 1px solid #e1f1ff;
}

.plan-precios:last-child {
  border-bottom: none;
}

.precios-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.precios-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.precios-lista {
  margin: 50px 0 25px;
  color: #016ff9;
}

.precios-lista-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.precios-lista-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.precios-precio {
  color: #FF7B9C;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.precios-boton {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.precios-boton:hover, .precios-boton:focus {
  background-color: #FF7B9C;
}

@media (min-width: 900px) {
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plan-precios {
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .plan-precios:last-child {
    border-right: none;
  }
}

form {
  color: #DDDEE4;
}

.container-form {
  background-color: #DDDEE4;
  padding-top: 1rem;
  border-radius: 14px;
  padding-bottom: 1rem;
  margin: 0 auto 0 auto;
}

.preguntas-frecuentes {
  background-color: #DDDEE4;
  padding: 10px 0 10px 0;
  border: 1px solid black;
  color: black;
}

.h2-contacto {
  color: whitesmoke;
}

.titulo-faq {
  margin: 0 auto 0 auto;
  padding: 5rem 0 2rem 0;
  font-size: 3rem;
  font-weight: bolder;
  color: whitesmoke;
}

.boton-form {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container {
  padding: 2rem;
}

@media (max-width: 590px) {
  .imagen-sobre {
    display: none;
  }
}

footer div {
  height: auto;
  background-color: #DDDEE4;
}

.mark {
  text-align: center;
  background-color: #607196;
}

.carousel-item-1 {
  background-image: url(/media/mango.png);
}

.carousel-item-2 {
  background-image: url(/media/sybilla.png);
}

.carousel-item-3 {
  background-image: url(/media/superdry.png);
}

.carousel-item-4 {
  background-image: url(/media/the-north-face-kepsar.png);
}

.carousel-item-5 {
  background-image: url(/media/adidas.png);
}

.carousel-item-6 {
  background-image: url(/media/americanino.png);
}

/* Carousel base class */
.carousel {
  margin-bottom: 0;
  padding-right: 15rem;
  padding-left: 15rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #607196;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25rem;
  background-position: center;
  background-size: cover;
}

@media (max-width: 576px) {
  .carousel {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 576px) {
  .carousel {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .carousel {
    margin-bottom: 0;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 992px) {
  .carousel {
    margin-bottom: 0;
    padding-right: 1rem;
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1200px) {
  .carousel {
    margin-bottom: 0;
    padding-right: 15rem;
    padding-left: 15rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

.imagen-nosotros {
  min-width: none;
  width: 210px;
  border-radius: 105px;
  background-color: goldenrod;
}

.h4-main {
  color: goldenrod;
}

.boton-faq {
  font-size: 1.5rem;
  color: black;
}

.hov:hover {
  background-color: #DDDEE4;
  -webkit-filter: saturate(500%);
          filter: saturate(500%);
}

.que-hacemos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.colo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pes {
  line-height: 2rem;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
}

.section-white {
  background-color: whitesmoke;
  margin: auto;
  background: url(../media/sketch-monochrome-clothes-icons-set/1238047.jpg);
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.inversa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .inversa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.imagen-icono {
  height: 90px;
  width: 90px;
}

.icono-item {
  background-color: grey;
  border-radius: 3rem;
  margin: 1rem auto;
  max-width: 400px;
  min-width: 300px;
  color: white;
  font-weight: bolder;
}

.tarjetas {
  margin: 1rem auto;
  width: 19rem;
}

.por-que {
  font-weight: bolder;
  color: goldenrod;
}

.iconos-fondo {
  background-color: white;
}

.imagen-inicio-info {
  height: 500px;
  width: 500px;
}

.texto-info {
  font-size: 2rem;
  font-weight: bolder;
}
/*# sourceMappingURL=estilocero.css.map */