
@mixin flexCenter ($background){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background;
}

@import "colores";
@import "footer";
@import "header";
@import "maps";
@import "extends";
@import "nosotros";
@import "marcas";
@import "index";
@import "precios";
@import "contacto";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    background-color: $color2;
}
.html {
    font-family: "open Sans", sans-serif;
    font-size: 1rem;
}

